.forgot-pass_button-confirm {
    -fx-background-color: #669FEC;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.forgot-pass_notify {
    -fx-text-fill: #FF0000;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
}

.forgot-pass_title {
    -fx-text-fill: #000000;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}